.search-input{
  display: flex;
  width: min(100%, 500px);
  padding: 1.25em 1.5em;
  border-radius: var(--border-radius);

  background-color: var(--elements-clr);
  box-shadow: var(--shadow);

  #input{
    width: 100%;
    margin-left: 1.5em;
    background-color: transparent;
    border: none;
    color: var(--text-clr);
    font-size: var(--fsize-small);
    outline-width: 0;
    
    &::placeholder{
      font-family: 'Nunito Sans', sans-serif;
      color: var(--text-clr);
    }
  }
}